<template>
  <div>
    <section class="main-block d-flex align-items-center error-404">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="error-page">
              <h2>404</h2>
              <p>The page you are looking for doesn't exist</p>
              <router-link
                to="/"
                class="btn btn-outline-danger btn-confirmation"
                >GO TO HOME PAGE
              </router-link>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "404"
};
</script>
