<template>
  <div>
    <div class="hero-container">
      <div class="hero"></div>
      <div class="hero-stuff">
        <h1 class="text-white">{{ $t("find_out") }}</h1>
        <button>
          <div class="review-btn">
            <router-link id="see_products_main_btn" to="products" class="btn float-left">
              {{ $t("see_products") }}</router-link>
          </div>
        </button>
      </div>
    </div>
    <!--//END MAIN TITLE -->
    <!--============================= POPULAR =============================-->

    <!--//END POPULAR -->
    <!--============================= DETAILED ITEM  =============================-->
    <section class="">
      <div class="container-fluid mt-16 ">
        <div class="">
          <div class="col-md-12">
            <div class="titile-block">
              <h2>{{ $t("our_products") }}</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class=" d-flex align-items-center">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="grid">
              <div class="">
                <figure class="effect-chico">
                  <router-link to="products-category/1">
                    <img src="/assets/images/nieuszczelniony.jpg" alt="#" class="img-fluid" />
                    <figcaption>
                      <div class="card-img-overlay">
                        <div class="my-auto mx-auto">
                          <h1 class="lead" style="font-weight:400;">{{ $t("type1") }}</h1>
                          <p>{{ $t("items1") }}</p>
                        </div>
                      </div>
                    </figcaption>
                  </router-link>
                </figure>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="grid">
              <div class="">
                <figure class="effect-chico">
                  <router-link to="products-category/2">
                    <img src="/assets/images/uszczelniony.jpg" alt="#" class="img-fluid" />
                    <figcaption>
                      <div class="card-img-overlay">
                        <div class="my-auto mx-auto">
                          <h1 class="lead" style="font-weight:400;">{{ $t("type2") }}</h1>
                        </div>
                      </div>
                    </figcaption>
                  </router-link>
                </figure>
              </div>
            </div>
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="grid">
              <div class="">
                <figure class="effect-chico">
                  <router-link to="products-category/3">
                    <img src="/assets/images/lewyobieg.jpg" alt="#" class="img-fluid" />

                    <figcaption>
                      <div class="card-img-overlay">
                        <div class="my-auto mx-auto">
                          <h1 class="lead" style="font-weight:400;">{{ $t("type3") }}</h1>
                        </div>
                      </div>
                    </figcaption>
                  </router-link>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="grid">
              <div class="">
                <figure class="effect-chico">
                  <router-link to="products-category/4">
                    <img src="/assets/images/geoterm.jpg" alt="#" class="img-fluid" />
                    <figcaption>
                      <div class="card-img-overlay">
                        <div class="my-auto mx-auto">
                          <h1 class="lead" style="font-weight:400;">{{ $t("type4") }}</h1>
                        </div>
                      </div>
                    </figcaption>
                  </router-link>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="grid">
              <div class="">
                <figure class="effect-chico">
                  <router-link to="products-category/5">
                    <img src="/assets/images/zespolyrolkowe.jpg" alt="#" class="img-fluid" />
                    <figcaption>
                      <div class="card-img-overlay">
                        <div class="my-auto mx-auto">
                          <h1 class="lead" style="font-weight:400;">{{ $t("type5") }}</h1>
                        </div>
                      </div>
                    </figcaption>
                  </router-link>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--//END DETAILED ITEM -->

    <!-- item list  -->
    <section class="booking-details_wrap mt-12">
      <div class="container rounded border mb-16">
        <div class="titile-block pt-8">
          <h2>{{ $t("frequently") }}</h2>
          <p>{{ $t("find") }}</p>
        </div>
        <div class="table-responsive-1">
          <table class="table table-hover">
            <thead>
              <tr>
                <th class="pt-4">#</th>
                <th class="pt-0">{{ $t("diameter") }} {{ $t("in") }}</th>
                <th class="pt-0">{{ $t("diameter") }} [mm]</th>
                <th class="pt-0">{{ $t("IADC_Code") }}</th>
                <th class="pt-0">{{ $t("technigor_name") }}</th>
                <th class="pt-0">{{ $t("pin_size") }}</th>
                <th class="pt-0">{{ $t("flushing") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2-1/2</td>
                <td>63,5</td>
                <td>631Y</td>
                <td>S63B</td>
                <td>N-Rod</td>
                <td>{{ $t("center") }}</td>
              </tr>
              <tr>
                <td>2</td>
                <td>2-5/8</td>
                <td>66,7</td>
                <td>321</td>
                <td>S32</td>
                <td>N-Rod</td>
                <td>{{ $t("center") }}</td>
              </tr>
              <tr>
                <td>3</td>
                <td>3-1/2</td>
                <td>88,9</td>
                <td>531Y</td>
                <td>S53</td>
                <td>2-3/8 Reg</td>
                <td>{{ $t("center") }}</td>
              </tr>
              <tr>
                <td>4</td>
                <td>4-1/2</td>
                <td>114,3</td>
                <td>631Y</td>
                <td>S63B</td>
                <td>2-3/8 Reg</td>
                <td>{{ $t("center") }}</td>
              </tr>
              <tr>
                <td>5</td>
                <td>5-7/8</td>
                <td>149,2</td>
                <td>211</td>
                <td>S21</td>
                <td>3-1/2 Reg</td>
                <td>{{ $t("center") }}</td>
              </tr>
              <tr>
                <td>6</td>
                <td>8-1/2</td>
                <td>215,9</td>
                <td>533Y</td>
                <td>S53G</td>
                <td>4-1/2 Reg</td>
                <td>{{ $t("center") }}</td>
              </tr>
            </tbody>
          </table>
          <br />
          <div class="review-btn">
            <router-link id="review-button-white" to="products" class="btn">
              {{ $t("see_more") }}</router-link>
          </div>
        </div>
      </div>
    </section>

    <!-- END item list  -->
    <!--============================= CATALOGS =============================-->
 
           


            <div class="titile-block p-2">
              <h2>{{ $t("catalogs") }}</h2>
              <p>{{ $t("check_out") }}</p>
            </div>
                <div>
                  <div class="d-flex justify-content-center row">
                    <div class="p-4">
                      <a href="/assets/images/Technigor-catalog.pdf" target="_blank">
                        <img src="/assets/images/article-img2.png" alt="#" class="img-fluid" />
                        <div class="news-title border">
                          <p>{{ $t("catalog-PL") }}</p>
                          <h5>{{ $t("technigor") }}</h5>
                          <p>2022</p>
                        </div>
                      </a>
                    </div>  
                    <div class="p-4">  
                      <a href="/assets/images/Technigor-catalogEN.pdf" target="_blank">
                        <img src="/assets/images/article-img3.png" alt="#" class="img-fluid" />
                        <div class="news-title border">
                          <p>{{ $t("catalog-EN") }}</p>
                          <h5>{{ $t("technigor") }}</h5>
                          <p>2022</p>
                        </div>
                      </a>
                    </div>  
                  </div>     
                </div> 








    <!--//learn more -->


    <div class="popular-link-set mb-16 main-block">
      <div class="">
        <div class="row">
          <div class="col-md-12">
            <div class="popular-link-wrap">
              <h2>{{ $t("learn_more") }}</h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="">
            <div class="popular-links media-tel">
              <ul class="d-flex justify-content-center row">
                <li class="p-2" style="width: 150px;">
                  <router-link to="nomenclature">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="100%" height="100%" x="0" y="0"
                      viewBox="0 0 512 512" style="enable-background: new 0 0 512 512" xml:space="preserve" class="">
                      <g>
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m94.944 369.437h-31.67c-17.819 0-32.317 14.497-32.317 32.317s14.497 32.317 32.317 32.317h31.67c17.819 0 32.317-14.497 32.317-32.317s-14.498-32.317-32.317-32.317zm0 49.56h-31.67c-9.508 0-17.243-7.735-17.243-17.243s7.735-17.243 17.243-17.243h31.67c9.508 0 17.243 7.735 17.243 17.243s-7.735 17.243-17.243 17.243z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m130.276 106.994c0-7.888-6.418-14.307-14.306-14.307h-73.721c-7.888 0-14.306 6.418-14.306 14.307v202.225c0 7.888 6.418 14.307 14.306 14.307h73.721c7.888 0 14.306-6.418 14.306-14.307zm-15.074 201.458h-72.185v-200.69h72.185z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m64.916 261.082c4.163 0 7.537-3.374 7.537-7.537v-93.198c0-4.163-3.374-7.537-7.537-7.537s-7.537 3.374-7.537 7.537v93.198c0 4.163 3.374 7.537 7.537 7.537z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m93.302 261.082c4.163 0 7.537-3.374 7.537-7.537v-68.633c0-4.163-3.374-7.537-7.537-7.537s-7.537 3.374-7.537 7.537v68.633c0 4.163 3.375 7.537 7.537 7.537z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m238.047 369.437h-31.669c-17.819 0-32.317 14.497-32.317 32.317s14.497 32.317 32.317 32.317h31.669c17.819 0 32.317-14.497 32.317-32.317s-14.498-32.317-32.317-32.317zm0 49.56h-31.669c-9.508 0-17.243-7.735-17.243-17.243s7.735-17.243 17.243-17.243h31.669c9.508 0 17.243 7.735 17.243 17.243s-7.735 17.243-17.243 17.243z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m273.379 106.994c0-7.888-6.418-14.307-14.306-14.307h-73.721c-7.888 0-14.306 6.418-14.306 14.307v202.225c0 7.888 6.418 14.307 14.306 14.307h73.721c7.888 0 14.306-6.418 14.306-14.307zm-15.074 201.458h-72.185v-200.69h72.185z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m208.019 261.082c4.163 0 7.537-3.374 7.537-7.537v-93.198c0-4.163-3.374-7.537-7.537-7.537s-7.537 3.374-7.537 7.537v93.198c0 4.163 3.374 7.537 7.537 7.537z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m236.406 261.083c4.163 0 7.537-3.374 7.537-7.537v-93.199c0-4.163-3.374-7.537-7.537-7.537s-7.537 3.374-7.537 7.537v93.199c0 4.163 3.374 7.537 7.537 7.537z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m511.713 444.597-69.238-403.93c-1.824-10.649-11.97-17.822-22.625-16.005l-117.314 20.11c-1.673.287-3.277.788-4.785 1.472-3.549-5.044-9.404-8.355-16.026-8.355h-119.026c-4.537 0-8.708 1.564-12.033 4.163-3.326-2.602-7.504-4.163-12.044-4.163h-63.352c-4.163 0-7.537 3.374-7.537 7.537s3.374 7.537 7.537 7.537h63.352c2.401 0 4.351 1.885 4.495 4.251-.001.091-.014.18-.014.272v346.16c0 4.163 3.374 7.537 7.537 7.537s7.537-3.374 7.537-7.537v-346.161c0-2.494 2.029-4.522 4.522-4.522h119.026c2.494 0 4.522 2.029 4.522 4.522v409.822c0 2.494-2.029 4.522-4.522 4.522h-119.026c-2.401 0-4.351-1.885-4.495-4.251.001-.091.014-.18.014-.272 0-.266-.014-.528-.041-.786v-28.54c0-4.163-3.374-7.537-7.537-7.537s-7.537 3.374-7.537 7.537v29.327c0 .092.012.18.014.272-.144 2.365-2.094 4.251-4.495 4.251h-119.026c-2.494 0-4.522-2.029-4.522-4.522v-409.823c0-2.494 2.029-4.522 4.522-4.522h20.836c4.163 0 7.537-3.374 7.537-7.537s-3.374-7.537-7.537-7.537h-20.836c-10.805-.001-19.596 8.79-19.596 19.596v409.822c0 10.805 8.791 19.596 19.596 19.596h119.026c4.54 0 8.713-1.566 12.039-4.167 3.326 2.601 7.499 4.167 12.039 4.167h119.026c10.806 0 19.596-8.791 19.596-19.596v-313.623l54.448 317.644c.884 5.16 3.725 9.666 7.998 12.688 3.346 2.367 7.257 3.603 11.274 3.603 1.112 0 2.234-.095 3.353-.287l117.315-20.11c5.159-.884 9.666-3.724 12.688-7.998 3.022-4.272 4.2-9.468 3.315-14.627zm-15.622 5.923c-.697.986-1.737 1.641-2.928 1.845l-117.316 20.11c-1.189.206-2.389-.068-3.375-.765-.986-.698-1.642-1.737-1.846-2.928l-69.238-403.932c-.153-.893-.039-1.798.33-2.615 0 0 0-.001.001-.001.622-1.377 1.878-2.349 3.362-2.604l117.315-20.11c.257-.044.513-.066.766-.066 2.161 0 4.078 1.558 4.455 3.76l69.238 403.931c.205 1.19-.067 2.389-.764 3.375z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m432.814 358.824-31.214 5.35c-8.508 1.458-15.939 6.143-20.924 13.191-4.984 7.047-6.927 15.614-5.468 24.121 1.458 8.509 6.142 15.94 13.19 20.924 5.519 3.904 11.968 5.941 18.594 5.941 1.834 0 3.684-.156 5.529-.472l31.214-5.351c8.508-1.458 15.939-6.143 20.924-13.191 4.985-7.047 6.927-15.614 5.469-24.122-3.013-17.562-19.75-29.401-37.314-26.391zm19.537 41.81c-2.66 3.761-6.624 6.259-11.164 7.038l-31.214 5.351c-4.538.778-9.111-.258-12.871-2.918s-6.259-6.624-7.038-11.163c-.778-4.54.258-9.111 2.918-12.871 2.66-3.761 6.625-6.26 11.164-7.038l31.214-5.35c.981-.169 1.958-.25 2.922-.25 8.239 0 15.548 5.942 16.986 14.331.779 4.539-.257 9.111-2.917 12.87z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m387.718 312.326c-.704-4.102-4.604-6.857-8.702-6.155l-7.687 1.318-33.906-197.805 71.148-12.195 33.906 197.805-28.978 4.967c-4.103.704-6.858 4.6-6.155 8.703.704 4.102 4.597 6.857 8.702 6.155l29.736-5.098c7.774-1.333 13.015-8.743 11.682-16.518l-34.165-199.317c-.645-3.767-2.719-7.056-5.839-9.263-3.121-2.207-6.914-3.064-10.678-2.421l-72.662 12.456c-7.775 1.333-13.016 8.742-11.683 16.518l34.165 199.317c.645 3.767 2.719 7.057 5.839 9.263 2.443 1.728 5.298 2.63 8.231 2.63.813 0 1.631-.07 2.448-.209l8.443-1.448c4.103-.703 6.859-4.599 6.155-8.703z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m366.619 150.385c-4.103.704-6.858 4.6-6.155 8.703l15.746 91.859c.63 3.671 3.816 6.264 7.42 6.264.422 0 .851-.035 1.282-.109 4.103-.704 6.858-4.6 6.155-8.703l-15.746-91.859c-.703-4.102-4.598-6.854-8.702-6.155z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m411.608 252.415c.422 0 .851-.035 1.282-.109 4.103-.704 6.858-4.6 6.155-8.703l-15.746-91.859c-.703-4.101-4.594-6.857-8.702-6.155-4.103.704-6.858 4.6-6.155 8.703l15.746 91.859c.629 3.671 3.816 6.264 7.42 6.264z"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                      </g>
                    </svg>

                    {{ $t("nomenclature") }}
                  </router-link>
                </li>
                <li class="p-2" style="width: 150px;">
                  <router-link to="theory">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="100%" height="100%" x="0" y="0"
                      viewBox="0 0 512 512" style="enable-background: new 0 0 512 512" xml:space="preserve" class="">
                      <g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path
                              d="M504.5,0H7.5C3.358,0,0,3.358,0,7.5v497c0,4.142,3.358,7.5,7.5,7.5h497c4.142,0,7.5-3.358,7.5-7.5V7.5    C512,3.358,508.642,0,504.5,0z M497,497H15V15h482V497z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path
                              d="M474.5,30h-437c-4.142,0-7.5,3.358-7.5,7.5v45c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5V45h422v422H45V112.5    c0-4.142-3.358-7.5-7.5-7.5c-4.142,0-7.5,3.358-7.5,7.5v362c0,4.142,3.358,7.5,7.5,7.5h437c4.142,0,7.5-3.358,7.5-7.5v-437    C482,33.358,478.642,30,474.5,30z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path
                              d="M274.758,114.433c-2.832-0.951-5.777-1.433-8.755-1.433c-8.56,0-16.755,4.073-21.922,10.896l-50,66    c-9.156,12.087-6.772,29.37,5.314,38.526c4.82,3.651,10.556,5.581,16.588,5.581c8.698,0,16.693-3.972,21.938-10.895l0.579-0.764    V371.5c0,15.164,12.336,27.5,27.5,27.5s27.5-12.336,27.5-27.5V140.501C293.5,128.676,285.969,118.2,274.758,114.433z     M278.501,371.5c0,6.893-5.607,12.5-12.5,12.5s-12.5-5.607-12.5-12.5V200.022c0-3.222-2.058-6.083-5.111-7.109    c-0.785-0.264-1.59-0.391-2.388-0.391c-2.303,0-4.534,1.064-5.979,2.972l-14.058,18.555c-2.384,3.147-6.022,4.953-9.98,4.953    c-2.736,0-5.34-0.877-7.532-2.537c-5.494-4.162-6.578-12.018-2.416-17.512l50-66c2.349-3.101,6.075-4.953,9.966-4.953    c1.351,0,2.69,0.22,3.979,0.652c5.095,1.712,8.519,6.474,8.519,11.849V371.5z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                      </g>
                    </svg>
                    <br />
                    {{ $t("IADC_Code") }}
                  </router-link>
                </li>
                <li class="p-2" style="width: 150px;">
                  <router-link to="drilling-practices">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="100%" height="100%" x="0" y="0"
                      viewBox="0 0 60 60" style="enable-background: new 0 0 512 512" xml:space="preserve" class="">
                      <g>
                        <g id="Page-1" xmlns="http://www.w3.org/2000/svg" fill="none" fill-rule="evenodd">
                          <g id="021---Drilling-Earth" fill="rgb(0,0,0)" fill-rule="nonzero">
                            <path id="Shape"
                              d="m58 8h-18c-1.1045695 0-2 .8954305-2 2v17.9c0 6.514 0 12.14-3.749 17.718-1.201 1.782-1.982 2.382-4.208 2.382h-.094c-2.218 0-3-.6-4.2-2.378-3.749-5.579-3.749-11.205-3.749-17.722v-17.9c0-1.1045695-.8954305-2-2-2h-18c-1.1045695 0-2 .8954305-2 2v48c0 1.1045695.8954305 2 2 2h56c1.1045695 0 2-.8954305 2-2v-48c0-1.1045695-.8954305-2-2-2zm0 25.093-6.474 8.861c-.451-.261-.893-.529-1.337-.8-.363-.225-.729-.451-1.1-.674l8.911-12.204zm0 3.391v7.453c-1.605192-.0833546-3.1836824-.4450708-4.665-1.069zm-18-8.207 5.256-7.2c.9064148.3339562 1.7798362.7514175 2.609 1.247l-7.945 10.888c.073-1.599.08-3.239.08-4.935zm-.435 8.814 10.016-13.724c.8117085.5137856 1.6528157.9795833 2.519 1.395l-9.77 13.365c-.9668079-.1014268-1.9392388-.1391749-2.911-.113.05-.306.101-.614.146-.923zm14.466-11.591c.9984192.3074886 2.0247128.5158289 3.064.622l-9.789 13.4c-.8942849-.4256364-1.8289488-.7606414-2.79-1zm-14.031-15.5h18v14.187c-2.8084303-.1863119-5.5094136-1.151394-7.8-2.787-2.971615-2.1219353-6.5493558-3.2268259-10.2-3.15zm3.184 10.526-3.184 4.359v-4.635c1.0675646-.0061608 2.1334192.0862312 3.184.276zm-35.267 18.811 9.792-13.409c.7575049.1341174 1.5226719.2206203 2.291.259v1.437l-9.55 13.067c-.81352129-.5067488-1.65970576-.9590716-2.533-1.354zm-5.917-8.33 6.771-9.271c.832.417 1.6.883 2.373 1.363l.115.071-9.259 12.659zm10.986-6.807c.846991.470219 1.7341589.8641069 2.651 1.177l-9.681 13.252c-1.02011037-.284544-2.06527937-.470069-3.121-.554zm7.03 6.795c.022 1.542.08 3.044.224 4.517l-5.5 7.531c-.894561-.3603332-1.7572625-.7951963-2.579-1.3zm.631 7.35c.3613048 1.9132329.9686819 3.7716657 1.807 5.529-.70496.083125-1.4141565.125196-2.124.126-1.1941164.0082037-2.3856467-.1121563-3.554-.359zm-18.647-28.345h18v14.187c-2.8084303-.1863119-5.5094136-1.151394-7.8-2.787-2.971615-2.1219353-6.54935583-3.2268259-10.2-3.15zm4.864 10.956-4.864 6.659v-7.365c1.648694-.0268924 3.2909875.2114833 4.864.706zm-4.864 37.044v-17.961c2.92030148.1278109 5.74072976 1.1004921 8.119 2.8l.019.012c2.9687263 2.1215548 6.5439356 3.2261795 10.192 3.149 1.0480236-.0019276 2.0941491-.0892162 3.128-.261.2.333.408.667.633 1 1.458 2.161 2.768 3.261 5.856 3.261h.053c3.122-.006 4.447-1.088 5.914-3.262 1.388963-2.0475904 2.4227838-4.3146939 3.058-6.706 3.6150001-.2959523 7.217486.7028479 10.164 2.818 2.6069178 1.8394818 5.6783937 2.9091621 8.864 3.087v12.063z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m24.553 38.1c-.4420206.2638535-.6115104.8201704-.3916951 1.2856616s.7571075.6880499 1.2416951.5143384c.0748086.179615.1602946.3545941.256.524l2.605 4.558c.356217.6226715 1.0186365 1.0068716 1.736 1.0068716s1.379783-.3842001 1.736-1.0068716l2.605-4.558c.4298142-.7527539.6568845-1.6041816.659-2.471v-2.835l.447-.223c.4170042-.2039126.6370994-.669515.5299937-1.1211799-.1071057-.451665-.5128305-.7688633-.9769937-.7638201v-3.892l.447-.223c.4170042-.2039126.6370994-.669515.5299937-1.1211799-.1071057-.451665-.5128305-.7688633-.9769937-.7638201v-3.892l.447-.223c.4170042-.2039126.6370994-.669515.5299937-1.1211799-.1071057-.451665-.5128305-.7688633-.9769937-.7638201v-3.892l.447-.223c.4170042-.2039126.6370994-.669515.5299937-1.1211799-.1071057-.451665-.5128305-.7688633-.9769937-.7638201v-3.892l.447-.223c.4170042-.2039126.6370994-.669515.5299937-1.12117994-.1071057-.45166496-.5128305-.7688633-.9769937-.76382006v-3.892l.447-.223c.4162514-.20463105.6356456-.66994525.5286766-1.12127303-.106969-.45132777-.5118625-.76867984-.9756766-.76472697v-1.009c0-1.1045695-.8954305-2-2-2h-6c-1.1045695 0-2 .8954305-2 2v5.882l-.447.223c-.415452.20705992-.6337945.67279068-.5272238 1.12458366.1065707.45179297.510032.77085024.9742238.77041634v3.882l-.447.223c-.415452.2070599-.6337945.6727907-.5272238 1.1245837.1065707.4517929.510032.7708502.9742238.7704163v3.882l-.447.223c-.415452.2070599-.6337945.6727907-.5272238 1.1245837.1065707.4517929.510032.7708502.9742238.7704163v3.882l-.447.223c-.415452.2070599-.6337945.6727907-.5272238 1.1245837.1065707.4517929.510032.7708502.9742238.7704163v3.882l-.447.223c-.415452.2070599-.6337945.6727907-.5272238 1.1245837.1065707.4517929.510032.7708502.9742238.7704163v3.882zm8.447-.147c-.0018915.522631-.1397411 1.035776-.4 1.489l-2.6 4.558-2.6-4.558c-.0705082-.1393569-.1296989-.2841566-.177-.433l5.777-2.891zm-6-35.953h6v1.882l-6 3zm0 7.118 6-3v3.764l-6 3zm0 6 6-3v3.764l-6 3zm0 6 6-3v3.764l-6 3zm0 6 6-3v3.764l-6 3zm0 6 6-3v3.764l-6 3z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <circle id="Oval" cx="5" cy="13" r="1" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                            <circle id="Oval" cx="8" cy="16" r="1" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                            <circle id="Oval" cx="11" cy="13" r="1" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                            <circle id="Oval" cx="14" cy="16" r="1" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                            <circle id="Oval" cx="17" cy="19" r="1" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                            <circle id="Oval" cx="17" cy="13" r="1" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                            <circle id="Oval" cx="43" cy="13" r="1" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                            <circle id="Oval" cx="46" cy="16" r="1" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                            <circle id="Oval" cx="49" cy="13" r="1" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                            <circle id="Oval" cx="52" cy="16" r="1" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                            <circle id="Oval" cx="55" cy="19" r="1" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                            <circle id="Oval" cx="55" cy="13" r="1" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                            <path id="Shape"
                              d="m9 54h-4c-.55228475 0-1 .4477153-1 1s.44771525 1 1 1h4c.55228475 0 1-.4477153 1-1s-.44771525-1-1-1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m15 51h-4c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h4c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m21 54h-4c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h4c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m28 52c0-.5522847-.4477153-1-1-1h-4c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h4c.5522847 0 1-.4477153 1-1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m32 54h-4c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h4c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m38 51h-4c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h4c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m44 54h-4c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h4c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m51 52c0-.5522847-.4477153-1-1-1h-4c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h4c.5522847 0 1-.4477153 1-1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m55 54h-4c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h4c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m5 50h4c.55228475 0 1-.4477153 1-1s-.44771525-1-1-1h-4c-.55228475 0-1 .4477153-1 1s.44771525 1 1 1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m17 50h4c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1h-4c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m40 50h4c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1h-4c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                            <path id="Shape"
                              d="m55 48h-4c-.5522847 0-1 .4477153-1 1s.4477153 1 1 1h4c.5522847 0 1-.4477153 1-1s-.4477153-1-1-1z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                          </g>
                        </g>
                      </g>
                    </svg>

                    <br />
                    {{ $t("drilling_practices") }}
                  </router-link>
                </li>
                <li class="p-2" style="width: 150px;">
                  <router-link to="catalogs">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="100%" height="100%" x="0" y="0"
                      viewBox="0 0 512 512" style="enable-background: new 0 0 512 512" xml:space="preserve" class="">
                      <g>
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m502 0h-206.125c-16.285156 0-30.765625 7.84375-39.875 19.953125-9.109375-12.109375-23.589844-19.953125-39.875-19.953125h-206.125c-5.523438 0-10 4.476562-10 10v452c0 5.523438 4.476562 10 10 10h245.984375.015625.015625 77.421875c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10h-65.773438c1.457032-4.171875 3.839844-7.996094 7.050782-11.21875 5.644531-5.664062 13.160156-8.78125 21.15625-8.78125h196.128906v20h-78.5625c-5.523438 0-10 4.476562-10 10s4.476562 10 10 10h88.5625c5.523438 0 10-4.476562 10-10v-452c0-5.523438-4.476562-10-10-10zm-482 20h196.125c16.472656 0 29.875 13.402344 29.875 29.871094v372.054687c-8.574219-6.441406-18.953125-9.925781-29.871094-9.925781h-196.128906zm0 412h196.128906c7.996094 0 15.507813 3.117188 21.15625 8.78125 3.210938 3.222656 5.59375 7.046875 7.046875 11.21875h-224.332031zm246-10.074219v-372.054687c0-16.46875 13.402344-29.871094 29.875-29.871094h196.125v392h-196.128906c-10.917969 0-21.296875 3.484375-29.871094 9.925781zm0 0"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m206.082031 164.136719h-147.082031c-5.523438 0-10 4.476562-10 10v191.875c0 5.519531 4.476562 10 10 10h147.082031c5.523438 0 10-4.480469 10-10v-191.875c0-5.523438-4.476562-10-10-10zm-10 191.875h-127.082031v-171.875h127.082031zm0 0"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m448 236.011719h-145c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 10 10 10h145c5.523438 0 10-4.480469 10-10 0-5.523438-4.476562-10-10-10zm0 0"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m448 296.011719h-145c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 10 10 10h145c5.523438 0 10-4.480469 10-10 0-5.523438-4.476562-10-10-10zm0 0"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m448 356.011719h-145c-5.523438 0-10 4.476562-10 10 0 5.519531 4.476562 10 10 10h145c5.523438 0 10-4.480469 10-10 0-5.523438-4.476562-10-10-10zm0 0"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m108.6875 315.550781c5.234375 1.765625 10.90625-1.054687 12.664062-6.289062l.738282-2.1875h28.023437l.734375 2.1875c1.40625 4.179687 5.300782 6.8125 9.476563 6.8125 1.058593 0 2.132812-.167969 3.191406-.523438 5.234375-1.761719 8.050781-7.433593 6.289063-12.667969l-24.226563-72c-1.367187-4.066406-5.183594-6.808593-9.476563-6.808593-4.292968 0-8.109374 2.738281-9.480468 6.808593l-24.222656 72c-1.761719 5.234376 1.050781 10.90625 6.289062 12.667969zm27.414062-50.117187 7.28125 21.640625h-14.5625zm0 0"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m206.082031 116.136719h-107.082031c-5.523438 0-10 4.476562-10 10 0 5.523437 4.476562 10 10 10h107.082031c5.523438 0 10-4.476563 10-10 0-5.523438-4.476562-10-10-10zm0 0"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m59 136.140625c2.628906 0 5.210938-1.070313 7.070312-2.929687 1.859376-1.859376 2.929688-4.441407 2.929688-7.070313 0-2.640625-1.070312-5.210937-2.929688-7.082031-1.859374-1.859375-4.441406-2.917969-7.070312-2.917969s-5.210938 1.058594-7.070312 2.917969c-1.859376 1.863281-2.929688 4.441406-2.929688 7.082031 0 2.628906 1.070312 5.210937 2.929688 7.070313 1.859374 1.859374 4.441406 2.929687 7.070312 2.929687zm0 0"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m61.082031 72.25h145c5.523438 0 10-4.476562 10-10s-4.476562-10-10-10h-145c-5.523437 0-10 4.476562-10 10s4.476563 10 10 10zm0 0"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m303 200.148438h145c5.523438 0 10-4.476563 10-10v-127.898438c0-5.523438-4.476562-10-10-10h-145c-5.523438 0-10 4.476562-10 10v127.898438c0 5.523437 4.476562 10 10 10zm90.496094-20h-66.492188l33.246094-33.246094zm28.285156 0-35.953125-35.953126 25.796875-25.792968 26.375 26.375v35.371094zm16.21875-107.898438v44.242188l-19.304688-19.304688c-3.90625-3.902344-10.234374-3.902344-14.140624 0l-32.867188 32.867188-4.367188-4.367188c-3.90625-3.902344-10.234374-3.902344-14.140624 0l-40.179688 40.179688v-93.617188zm0 0"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                        <path xmlns="http://www.w3.org/2000/svg"
                          d="m375.5 452c-2.628906 0-5.210938 1.070312-7.070312 2.929688-1.859376 1.859374-2.929688 4.441406-2.929688 7.070312s1.070312 5.210938 2.929688 7.070312c1.859374 1.859376 4.441406 2.929688 7.070312 2.929688s5.210938-1.070312 7.070312-2.929688c1.859376-1.859374 2.929688-4.441406 2.929688-7.070312s-1.070312-5.210938-2.929688-7.070312c-1.859374-1.859376-4.441406-2.929688-7.070312-2.929688zm0 0"
                          fill="#b1d081" data-original="#000000" style="" class="" />
                      </g>
                    </svg>

                    <br />
                    {{ $t("catalog") }}
                  </router-link>
                </li>
                <li class="p-2" style="width: 150px;">
                  <router-link to="about-us">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                      xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="100%" height="100%" x="0" y="0"
                      viewBox="0 0 480 480" style="enable-background: new 0 0 512 512" xml:space="preserve" class="">
                      <g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="168" y="160" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="168" y="192" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="168" y="224" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="168" y="256" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="200" y="160" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="200" y="192" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="200" y="224" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="200" y="256" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="232" y="160" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="232" y="192" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="232" y="224" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="232" y="256" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="264" y="160" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="200" y="128" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="232" y="128" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="264" y="128" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="264" y="192" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="264" y="224" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="264" y="256" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="296" y="160" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="296" y="192" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="296" y="224" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="296" y="256" width="16" height="16" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path
                              d="M472.009,120c-0.003,0-0.006,0-0.009,0H352V8c0.003-4.416-3.575-7.997-7.991-8c-0.003,0-0.006,0-0.009,0H136    c-4.416-0.003-7.997,3.575-8,7.991c0,0.003,0,0.006,0,0.009v112H8c-4.416-0.003-7.997,3.575-8,7.991c0,0.003,0,0.006,0,0.009v288    c-0.003,4.416,3.575,7.997,7.991,8c0.003,0,0.006,0,0.009,0h16.723c-0.464,2.642-0.706,5.318-0.723,8v40    c-0.003,4.416,3.575,7.997,7.991,8c0.003,0,0.006,0,0.009,0h416c4.416,0.003,7.997-3.575,8-7.991c0-0.003,0-0.006,0-0.009v-40    c-0.016-2.682-0.258-5.358-0.723-8H472c4.416,0.003,7.997-3.575,8-7.991c0-0.003,0-0.006,0-0.009V128    C480.003,123.584,476.425,120.003,472.009,120z M344,344c0,8.837-7.163,16-16,16s-16-7.163-16-16s7.163-16,16-16    C336.832,328.011,343.989,335.168,344,344z M152,328c8.837,0,16,7.163,16,16s-7.163,16-16,16s-16-7.163-16-16    C136.011,335.168,143.168,328.011,152,328z M104,464H40v-32c0-17.673,14.327-32,32-32s32,14.327,32,32V464z M56,368    c0-8.837,7.163-16,16-16s16,7.163,16,16s-7.163,16-16,16C63.168,383.989,56.011,376.832,56,368z M105.212,397.425    c-3.017-2.91-6.4-5.414-10.064-7.449c12.202-12.784,11.731-33.04-1.053-45.243s-33.04-11.731-45.243,1.053    c-11.803,12.365-11.803,31.824,0,44.189c-7.636,4.238-13.98,10.467-18.358,18.024H16V136h112v187.056    c-10.986,12.327-10.615,31.039,0.852,42.92C116.852,372.613,108.253,384.053,105.212,397.425z M184,464h-64v-56    c0-17.673,14.327-32,32-32s32,14.327,32,32V464z M280,464h-80v-56c0-22.091,17.909-40,40-40c22.091,0,40,17.909,40,40V464z     M216,328c0-13.255,10.745-24,24-24s24,10.745,24,24s-10.745,24-24,24C226.751,351.986,216.014,341.249,216,328z M288.722,380.495    c-5.357-9.444-13.327-17.139-22.953-22.16c16.897-14.232,19.057-39.467,4.826-56.364c-14.232-16.897-39.467-19.057-56.364-4.826    c-16.897,14.232-19.057,39.467-4.826,56.364c1.468,1.743,3.082,3.357,4.826,4.826c-9.626,5.021-17.596,12.716-22.953,22.16    c-4.206-6-9.722-10.965-16.13-14.519c12.265-12.547,12.037-32.662-0.511-44.927c-8.079-7.898-19.744-10.91-30.637-7.913V16h192    v297.136c-2.607-0.719-5.296-1.101-8-1.136c-17.626-0.047-31.953,14.204-32,31.831c-0.022,8.248,3.151,16.185,8.852,22.145    C298.444,369.53,292.928,374.495,288.722,380.495z M360,432v32h-64v-56c0-17.673,14.327-32,32-32c17.673,0,32,14.327,32,32V432z     M440,464h-64v-32c0-17.673,14.327-32,32-32c17.673,0,32,14.327,32,32V464z M392,368c0-8.837,7.163-16,16-16s16,7.163,16,16    s-7.163,16-16,16C399.168,383.989,392.011,376.832,392,368z M464,408h-14.494c-4.378-7.557-10.722-13.786-18.358-18.024    c12.202-12.784,11.731-33.04-1.053-45.243c-12.784-12.202-33.04-11.731-45.243,1.053c-11.803,12.365-11.803,31.824,0,44.189    c-3.664,2.035-7.048,4.539-10.064,7.449c-3.04-13.372-11.64-24.812-23.64-31.449c11.467-11.881,11.839-30.593,0.853-42.92V136h112    V408z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="376" y="184" width="16" height="128" fill="#b1d081" data-original="#000000"
                              style="" class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="424" y="184" width="16" height="128" fill="#b1d081" data-original="#000000"
                              style="" class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="40" y="184" width="16" height="128" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <rect x="88" y="184" width="16" height="128" fill="#b1d081" data-original="#000000" style=""
                              class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg">
                          <g>
                            <path
                              d="M288.009,32c-0.003,0-0.006,0-0.009,0h-96c-4.416-0.003-7.997,3.575-8,7.991c0,0.003,0,0.006,0,0.009v64    c-0.003,4.416,3.575,7.997,7.991,8c0.003,0,0.006,0,0.009,0h96c4.416,0.003,7.997-3.575,8-7.991c0-0.003,0-0.006,0-0.009V40    C296.003,35.584,292.425,32.003,288.009,32z M280,96h-80V48h80V96z"
                              fill="#b1d081" data-original="#000000" style="" class="" />
                          </g>
                        </g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                        <g xmlns="http://www.w3.org/2000/svg"></g>
                      </g>
                    </svg>
                    <br />
                    {{ $t("about_us") }}
                  </router-link>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Index"
};



</script>

<style>

@media (max-width: 480px) {
  #catalog-flex {
    flex-direction: column;
  }
}


#see_products_main_btn {
  color: white !important;
}

#see_products_main_btn:hover {
  color: white !important;
}

#review-button-white {
  color: white !important;
}

#review-button-white:hover {
  color: white !important;
}




</style>
